body{
    background-image: url(images/physical-map-europe.jpg);
    z-index: 0;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row; */
}



h1 {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 80px;
padding-top: 15px;
color: darkblue;
}
.rome img{
  /* box-shadow: 100px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 25px;
    box-shadow: 5px 10px;
    z-index: 25;
}
.paris img{
    /* box-shadow: 100px; */
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 50px;
      margin-left: 50px;
      border-radius: 25px;
      box-shadow: 5px 10px;
      z-index: 25;
    
  }
  .plane img{
    /* box-shadow: 100px; */
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 50px;
      margin-left: 50px;
      border-radius: 25px;
      box-shadow: 5px 10px;
      z-index: 50;
  }
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;
    
}
#text{
    background-color:skyblue;
    border-radius: 35px;
} 
#paristext{
    background-color:skyblue;
    border-radius: 35px;
} 
#planetext{
    background-color:skyblue;
    border-radius: 35px;
} 